:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #1e3e4d;
  --background: #fff;
  --green: #06c49e;
  --blue: #30d6ff;
  --yellow: #fed265;
  --red: #dd5664;
  --grey: #ccc;
}

/* reset styles */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

/* global styles */

body {
  color: var(--text);
  background-color: var(--background);
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 700;
    color: var(--text);
}

h1 {
    font-size: 24px;
    padding-bottom: 14px;
}

p {
    padding-bottom: 6px;
}

.side-padding {
  padding: 0 24px;
}

main {
  padding-top: 80px;
}

.home main {
  padding-top: 0;
}

/* home page styles */

.floating-btn1, .floating-btn2, .floating-btn3 {
  position: absolute;
}

.home .section1 {
  position: relative;
  display: flex;
  align-items: center;
  height: 50vh;
}

.home .section2 {
  display: flex;
  align-items: center;
  height: 50vh;
  background-color: #06c49e;
}

  .home .section2 .txt-overlay {
    background-color: var(--background);
    padding: 24px;
    border-radius: 8px;
  }

.home .section3 {
}