:root {
  --text: #1e3e4d;
  --background: #fff;
  --background-trans: rgba(255,255,255,0.95);
  --green: #06c49e;
  --blue: #30d6ff;
  --yellow: #fed265;
  --red: #dd5664;
  --grey: #ccc;

  --border-padding: 24px;
}

/* reset & global styles */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

* {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

body {
  background-color: var(--background);
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 700;
    color: var(--text);
}

h1 {
    font-size: 24px;
    padding-bottom: 14px;
}

p {
    padding-bottom: 10px;
}

.side-padding {
  padding: 0 var(--border-padding);
}

main {
  padding-top: 80px;
}

.top-curve {
  background-image: url(../top-curve.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: inherit;
}

button {
  line-height: 1;
}

.btn {
  background-color: var(--green);
  border: 1px solid var(--text);
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding: 12px 10px;
}

/* home page styles */


.home main {
  padding-top: 0;
}

.main-logo {
  width: 85%;
  margin: 0 auto 2.5rem auto;
}

.floating-btn1, .floating-btn2, .floating-btn3 {
  position: absolute;
  border-radius: 50%;
  border: none;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.floating-btn1 {
  background-color: var(--blue);
  bottom: 0;
  left: var(--border-padding);
}

.floating-btn2 {
  background-color: var(--green);
  bottom: 30px;
  left: 50%;
  translate: -50%;
}

.floating-btn3 {
  background-color: var(--yellow);
  bottom: 0;
  right: var(--border-padding);;
}

.home .section1, .home .section2{
  position: relative;
  display: flex;
  align-items: center;
  height: 50vh;
}

.home .section2 {
  background-image: url(../maths-rocks-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

  .home .section2 .txt-overlay {
    background-color: var(--background-trans);
    padding: var(--border-padding);
    border-radius: 8px;
    margin-top: 40px;
  }

.home .section3 {
  background-color: var(--background);
}

/* rocks page styles */

.pageText {
  padding-left: 20px;
  padding-right: 15px;
  word-wrap: break-word;
}

.rocks {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
  word-wrap: break-word;
}

.dropDownMenu {
  padding-right: auto;
  padding-left: 0;
  width: 180px;
}

.searchBar {
  padding-left: auto;
  padding-right: 10px;
}

#rocksList {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
  word-wrap: break-word;
  gap: 60px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.square {
  height: 130px;
  width: 130px;
  background-color: green;
}