:root {
  --text: #1e3e4d;
  --text-trans: #1e3e4d66;
  --background: #fff;
  --background-trans: rgba(255,255,255,0.95);
  --green: #06c49e;
  --blue: #30d6ff;
  --yellow: #fed265;
  --red: #dd5664;
  --grey: #ccc;
  --border-padding: 24px;
}

/* reset & global styles */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

* {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

body {
  background-color: var(--background);
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 500;
    color: var(--text);
}

h1 {
    font-size: 1.75rem;
    padding-bottom: 14px;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 8px;
}

h3 {
  font-size: 1.25rem;
}

p {
    padding-bottom: 10px;
}

a, a:link {
  text-decoration: none;
  color: var(--green);
}

a:hover {
  text-decoration: underline;
  color: var(--blue);
}

ul, ol {
  margin: 1.25rem;
}

.side-padding {
  padding: 0 var(--border-padding);
}

.top-padding {
  padding-top: var(--border-padding);
}

main {
  padding-top: 80px;
}

.top-curve {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: auto;
}

.curve {
  fill: var(--background);
  stroke-width: 0px;
}

button {
  line-height: 1;
  font-weight: 500;
}

.btn {
  background-color: var(--green);
  border: 1px solid var(--text);
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding: 12px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.btn:hover {
  background-image: linear-gradient(var(--green),var(--blue));
}

form .btn {
  width: auto;
  margin-right: 20px;
  padding: 12px 30px;
}

.blue {
  background-color: var(--blue) !important;
}

.yellow {
  background-color: var(--yellow) !important;
}

svg {
  display: block;
}

/* home page styles */

.home main {
  padding-top: 0;
}

.main-logo-container {
  width: 85%;
}

.main-logo {
  margin: 0 auto 2.5rem auto;
  visibility: visible;
}

@keyframes pulse {
  from { transform: scale(0.8); }
  to { transform: scale(1.2); }
}

.floating-btn1, .floating-btn2, .floating-btn3 {
  position: absolute;
  border-radius: 50%;
  border: none;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.floating-btn1 img, .floating-btn2 img, .floating-btn3 img {
  max-height: 60%;
}

.floating-btn1:hover, .floating-btn2:hover, .floating-btn3:hover {
box-shadow: inset 0 0 14px var(--text);
}

.floating-btn1 {
  background-color: var(--blue);
  bottom: 0;
  left: var(--border-padding);
  animation: pulse 1s infinite ease-in-out alternate;
}

.floating-btn2 {
  background-color: var(--green);
  bottom: 30px;
  left: 50%;
  translate: -50%;
  animation: pulse 1s infinite ease-in-out alternate .4s;
}

.floating-btn3 {
  background-color: var(--yellow);
  bottom: 0;
  right: var(--border-padding);
  animation: pulse 1s infinite ease-in-out alternate .7s;
}

.home .section1, .home .section2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.home .section2 {
  background-image: url(../maths-rocks-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

  .home .section2 .txt-overlay {
    background-color: var(--background-trans);
    padding: var(--border-padding);
    border-radius: 8px;
    margin-top: 40px;
  }

  .section3 h2 {
  text-align: center;  
  padding-bottom: 20px;
  font-size: 28px;
  }

/* form styles */

input, select, textarea {
  position: relative;
  width: 100%;
  padding: 6px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  color: var(--text);
}


/* rocks page styles */

.pageText {
  padding-left: 20px;
  padding-right: 15px;
  word-wrap: break-word;
}

.rocks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropDownMenu {
  padding-right: auto;
  padding-left: 0;
  width: 180px;
}

.searchBar {
  padding-left: 10px;
}

#rocksList {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  word-wrap: break-word;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.square {
  background-color: var(--blue);
}

.rock-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.rock-grid h3 {
  padding: 10px 0;
  font-size: 1rem;
}

.rock-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rock-grid-item:hover {
  text-decoration: none;
  opacity: 80%;
}

.rock-grid-img {
  width: 100%;
  height: 7em;
  background-size: cover;
  background-position: center;
}

label {
  color: var(--text);
  font-weight: 600;
}

/* profile styles */

.profile-picture {
  border-radius: 50%;
  margin: 20px auto;
  max-width: 70%;
}
.profile-container h1 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 0;
}

.profile-container p {
  text-align: center;
}

.profile-button {
  display: block;
  background-color: var(--green);
  border: 1px solid var(--text);
  border-radius: 8px;
  width: auto;
  text-align: center;
  padding: 12px 10px;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}

.profile-card {
  border: 1px solid var(--text);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.badges-section {
  border: 1px solid var(--text);
  border-radius: 8px;
  padding: 14px 20px;
  margin: 0 0 20px 0;
}

.badge-square {
  display: inline-block;
  background-color: var(--grey);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 20px;
}

/* tablet styles */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.375rem;
  }
  main {
    padding-top: 100px;
  }
  .main-logo-container {
    width: 70%;
  }
  .side-padding {
    padding: 0 60px;
  }
  .top-padding {
    padding-top: 20px;
}
  .floating-btn1, .floating-btn2, .floating-btn3 {
    width: 100px;
    height: 100px;
  }
  .floating-btn1 {
    left: 100px;
  }
  .floating-btn2 {
    bottom: 40px;
  }
  .floating-btn3 {
    right: 100px;
  }
  .home .section2 .txt-overlay {
    padding: var(--border-padding) 40px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .section3 {
    padding-top: 40px;
  }
  .section3 h2 {
    font-size: 2.375rem;
  }
  .btn {
    padding: 12px 30px;
  }
  .rock-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .rock-grid-img {
    height: 10em;
  }
}

/* desktop styles */
@media only screen and (min-width: 1200px) {
  .main-logo-container {
    width: 50%;
    padding-top: 120px;
  }
  .home .section2 .txt-overlay {
    padding: var(--border-padding) 30px;
    margin-top: 180px;
    margin-left: 15%;
    margin-right: 15%;
  }
  .floating-btn2 {
    bottom: -130px;
  }
  .rock-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .rock-grid-img {
    height: 12em;
  }
  .btn {
    width: auto;
    margin-right: 20px;
  }
  .txt-overlay .btn {
    width: 100%;
    margin-right: 0;
  }
  article {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}