.user-cell {
  display: flex; 
  align-items: center; 
}

.avatar {
  width: 50px; 
  height: 50px; 
  margin-right: 10px; 
border-radius: 50%; 
}

.user-link {
  display: flex; 
  align-items: center;
}

.leaderboard-table {
  width: 100%; 
}
.left-align {
  text-align: left;
}
.leaderboard-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 5px 10px;
  background-color: var(--blue);
  color: var(--background);
  border-radius: 10px;
  text-align: center; 

}
.rank-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 5px 10px;
  background-color: var(--green);
  color: white;
  border-radius: 10px;
  text-align: center; 
}
.user-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 5px 10px;
  background-color: var(--yellow);
  color: white;
  border-radius: 10px;
  text-align: center; 
}
.rocks-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 5px 10px;
  background-color: var(--red);
  color: white;
  border-radius: 10px;
  text-align: center; 
}

.leaderboard-table tbody {
  font-size: 16px; 
}

.leaderboard-table tbody {
  font-size: 25px; 
  font-weight: bold; 
}


.user-link {
  text-decoration: none; 
}

.leaderboard-table tbody td {
  background-color: #e1dfe1; 
  padding: 6px;
}
