
  .profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .greeting {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .buttons-section {
    margin-bottom: 20px;
  }
  
  .profile-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #66FF01;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .badges-section {
    margin-bottom: 20px;
    padding: 20px; 
  }
  
  .rocks-section {
    margin-bottom: 20px;
    padding: 20px; 
  }
  
  
  .rocks-section h2,
  .badges-section h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    margin-top: 50px;
  }
  
  .action-buttons {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }
  
.action-button {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6ac5fe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .rounded-border1 {
    background-color: #ffd900;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; 
    margin-bottom: 20px; 
    width: 100%; 
  }

  .rounded-border2 {
    background-color: #ff6961;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; 
    margin-bottom: 20px; 
    width: 100%; 
  }

.list-container ul li {
    position: relative; 
    flex: 0 0 calc(33.33% - 20px); 
    margin-bottom: 20px; 
    list-style: none; 
  }
  

  .list-container ul li::before {
    content: ""; 
    display: block; 
    width: 50px; 
    height: 50px; 
    background-color: #ccc;
    border-radius: 10px; 
    margin-bottom: 10px; 
  }
  
  
  .list-container ul li span {
    display: block; 
    text-align: center; 
    font-weight: bold; 
  }

  .badge-square {
    display: inline-block;
    width: 100px; 
    height: 100px;
    background-color: #ccc; 
    margin: 5px; 
    line-height: 100px;
    text-align: center; 
    border-radius: 15px; 
  }

  .rock-item {
    display: inline-block;
    width: 100px; 
    height: 100px; 
    background-color: #ccc; 
    margin: 5px; 
    line-height: 100px;
    text-align: center; 
    border-radius: 15px; 
  }

  body {
  background-color: #ffffff; 
}
.badge-square:hover {
    transform: scale(1.1); 
  }
 .rock-item:hover {
  transform: scale(1.1); 
}

  


  
  