.top-image {
    position: relative;
    height: 40vh;
    overflow: hidden;
    object-fit: cover;
}

.top-image img {
    width: auto;
    min-width: 100%;
    min-height: 100%;
}

.bottom-curve {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: auto;
  }

/* desktop styles */
@media only screen and (min-width: 1200px) {
    .bottom-curve {
        display: none;
    }
    .top-image {
        height: 40vh;
        margin-bottom: 40px;
    }
}