.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text);
    height: 80px;
    z-index: 2;
  }

  .nav .active {
    color: var(--green);
  }
  
  .nav-icon {
    position: relative;
    float: left;
    padding-left: 26px;
    z-index: 3;
  }

  /* mobile nav styles */

  .nav-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .nav-container.open {
    display: block;
  }
  
  .open .nav-content {
    position: relative;
    background-color: var(--text);
    margin: auto;
    padding: 5rem 1.5625rem 1.5625rem;
    width: 100%;
    height: 100vh;
    -webkit-animation: navReveal .75s cubic-bezier(.82,.47,.22,1);
    animation: navReveal .75s cubic-bezier(.82,.47,.22,1);
  }

  .nav-content ul {
    list-style-type: none;
  }

  .nav-content li {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0;
  }

  .nav-content li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--background);
  }
  
  /* Add Animation */
  @-webkit-keyframes navReveal {
    0% {
        -webkit-clip-path: circle(0 at 0 50px);
        clip-path: circle(0 at 0 50px);
    }
    100% {
        -webkit-clip-path: circle(150vmax at 0 50px);
        clip-path: circle(150vmax at 0 50px);
    }
  }
  
  @keyframes navReveal {
    0% {
        -webkit-clip-path: circle(0 at 0 50px);
        clip-path: circle(0 at 0 50px);
    }
    100% {
        -webkit-clip-path: circle(150vmax at 0 50px);
        clip-path: circle(150vmax at 0 50px);
    }
  }
  
  /* login styles */
  
  .login-nav-btn button {
    position: relative;
    background-color: var(--green);
    border: none;
    text-transform: uppercase;
    padding: 5px 14px 5px 26px;
    height: 42px;
    min-width: 108px;
  }

  .login-nav-btn button:hover {
    background-color: var(--green);
    background-image: linear-gradient(var(--green),var(--blue));
  }

  .triangle {
    position: absolute;
    top: 0;
    left: -1px;
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-left: 20px solid var(--background);
    border-bottom: 21px solid transparent;
}

.logo img {
    max-height: 68px;
  }

/* home page styles */
  .home .logo {
    visibility: hidden;
  }

  .home .header {
    border-bottom: none;
  }
  
  .home.show .logo {
    visibility: visible;
  }

  .home.show .header {
    border-bottom: 1px solid var(--text);
  }

  .main-logo.hide {
    visibility: hidden;
  }

  /* tablet styles */
  @media only screen and (min-width: 768px) {
    .header {
      height: 100px;
    }
    .logo img {
      max-height: 80px;
    }
    .login-nav-btn button {
      padding: 10px 14px 10px 26px;
      height: 52px;
    }
    .triangle {
      border-top: 26px solid transparent;
      border-left: 20px solid var(--background);
      border-bottom: 26px solid transparent;
    }  
  }
  